/* Estilo do retângulo vertical */
.retangulo {
    width: 30%; /* 200px */
    height: 80%; /* 300px */
    background-color: lightblue;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    object-fit: contain;
}

/* Estilo do quadrado */
.quadrado {
    width: 24%; /* 180px */
    height: 43%; /* 200px */
    background-color: lightgoldenrodyellow;
    position: absolute;
    top: 42%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    object-fit: contain;
}

button {
    background-color: red;
    width: 4%; /* 20px */
    height: 8%; /* 20px */
    border-radius: 100%;
    position: absolute;
    top: 66%; 
    left: 48%; 
    z-index: 6;
    object-fit: contain;
}

/* Estilo da imagem garra_aberta */
#garra_aberta {
    object-fit: contain;
    width: 10%; /* 100px */
    height: 20%; /* 90px */
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 5;
    transition: top 1s ease-in-out, width 1s ease-in-out;
}

#urso1 {
    width: 15%; /* 10% da largura do elemento pai */
    height: 15%; /* 10% da altura do elemento pai */
    object-fit: contain; /* Mantém a proporção e ajusta a imagem ao elemento pai */
    position: absolute;
    top: 55%; /* Posicione a imagem verticalmente no centro do retângulo */
    left: 50%;
    transform: translate(-50%, -50%); /* Ajuste para centralizar verticalmente e horizontalmente */
    z-index: 4;
    transition: top 1s ease-in-out, left 1s ease-in-out;
}

@media (max-width: 1004px){
        /* Estilo do retângulo vertical */
.retangulo {
    width: 30%; /* 200px */
    height: 60%; /* 300px */
    background-color: lightblue;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    object-fit: contain;
}

/* Estilo do quadrado */
.quadrado {
    width: 25%; /* 180px */
    height: 38%; /* 200px */
    background-color: lightgoldenrodyellow;
    position: absolute;
    top: 44%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    object-fit: contain;
}

button {
    background-color: red;
    width: 4%; /* 20px */
    height: 5%; /* 20px */
    border-radius: 100%;
    position: absolute;
    top: 66%; 
    left: 48%; 
    z-index: 6;
    object-fit: contain;
}

/* Estilo da imagem garra_aberta */
#garra_aberta {
    object-fit: contain;
    width: 10%; /* 100px */
    height: 20%; /* 90px */
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 5;
    transition: top 1s ease-in-out, width 1s ease-in-out;
}

#urso1 {
    width: 15%; /* 10% da largura do elemento pai */
    height: 15%; /* 10% da altura do elemento pai */
    object-fit: contain; /* Mantém a proporção e ajusta a imagem ao elemento pai */
    position: absolute;
    top: 55%; /* Posicione a imagem verticalmente no centro do retângulo */
    left: 50%;
    transform: translate(-50%, -50%); /* Ajuste para centralizar verticalmente e horizontalmente */
    z-index: 4;
    transition: top 1s ease-in-out, left 1s ease-in-out;
}


}


@media (max-width: 504px){
    /* Estilo do retângulo vertical */
.retangulo {
width: 46%; /* 200px */
height: 60%; /* 300px */
background-color: lightblue;
position: absolute;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
object-fit: contain;
}

/* Estilo do quadrado */
.quadrado {
width: 38%; /* 180px */
height: 36%; /* 200px */
background-color: lightgoldenrodyellow;
position: absolute;
top: 44%; 
left: 50%; 
transform: translate(-50%, -50%); 
z-index: 2;
object-fit: contain;
}

button {
background-color: red;
width: 5%; /* 20px */
height: 5%; /* 20px */
border-radius: 100%;
position: absolute;
top: 66%; 
left: 48%; 
z-index: 6;
object-fit: contain;
}

/* Estilo da imagem garra_aberta */
#garra_aberta {
object-fit: contain;
width: 10%; /* 100px */
height: 20%; /* 90px */
position: absolute;
top: 30%; 
left: 50%;
transform: translate(-50%, -50%); 
z-index: 5;
transition: top 1s ease-in-out, width 1s ease-in-out;
}

#urso1 {
width: 9%; /* 10% da largura do elemento pai */
height: 9%; /* 10% da altura do elemento pai */
object-fit: contain; /* Mantém a proporção e ajusta a imagem ao elemento pai */
position: absolute;
top: 55%; /* Posicione a imagem verticalmente no centro do retângulo */
left: 50%;
transform: translate(-50%, -50%); /* Ajuste para centralizar verticalmente e horizontalmente */
z-index: 4;
transition: top 1s ease-in-out, left 1s ease-in-out;
}


}