@media screen and (min-width: 768px) {
    .retangulo {
        width: 30%;
        height: 90%;
        background-color: lightblue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
    }

    .quadrado {
        width: 25%;
        height: 50%;
        background-color: lightgoldenrodyellow;
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        object-fit: contain;
    }

    #moveDireita {
        background-color: lightgray;
        font-size: 15px;
        width: 4%;
        height: 6%;
        border-radius: 20%;
        position: absolute;
        top: 75%;
        left: 46%;
        z-index: 6;
        object-fit: contain;
    }

    #moveEsquerda {
        background-color: lightgray;
        font-size: 15px;
        width: 4%;
        height: 6%;
        border-radius: 20%;
        position: absolute;
        top: 75%;
        left: 40%;
        z-index: 6;
        object-fit: contain;
    }

    #startAnimation {
        background-color: red;
        width: 4%;
        height: 6%;
        border-radius: 100%;
        position: absolute;
        top: 75%;
        left: 56%;
        z-index: 6;
        object-fit: contain;
    }

    #garra_aberta {
        object-fit: contain;
        width: 10%;
        height: 20%;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        transition: top 1s ease-in-out, width 1s ease-in-out;
    }

    #urso1 {
        width: 15%;
        height: 15%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }

    #urso2 {
        width: 14%;
        height: 14%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 55%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }

    #urso3 {
        width: 14%;
        height: 14%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }

    #urso4 {
        width: 14%;
        height: 14%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 44%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }

    #urso6 {
        width: 15%;
        height: 15%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 60%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }
}

@media screen and (max-width: 767px){
    .retangulo {
        width: 100%;
        height: 100%;
        background-color: lightblue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
    }

    .quadrado {
        width: 90%;
        height: 40%;
        background-color: lightgoldenrodyellow;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        object-fit: contain;
    }

    #moveDireita {
        background-color: lightgray;
        font-size: 10px;
        width: 14%;
        height: 6%;
        border-radius: 20%;
        position: absolute;
        top: 72%;
        left: 40%;
        z-index: 6;
        object-fit: contain;
    }

    #moveEsquerda {
        background-color: lightgray;
        font-size: 10px;
        width: 14%;
        height: 6%;
        border-radius: 20%;
        position: absolute;
        top: 72%;
        left: 20%;
        z-index: 6;
        object-fit: contain;
    }

    #startAnimation {
        background-color: green;
        width: 12%;
        height: 6%;
        border-radius: 100%;
        position: absolute;
        top: 72%;
        left: 65%;
        z-index: 6;
        object-fit: contain;
    }

    #garra_aberta {
        object-fit: contain;
        width: 20%;
        height: 20%;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        transition: top 1s ease-in-out, width 1s ease-in-out;
    }

    #urso1 {
        width: 15%;
        height: 15%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }

    #urso2 {
        width: 20%;
        height: 20%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 64%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }

    #urso3 {
        width: 20%;
        height: 20%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 22%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }

    #urso4 {
        width: 20%;
        height: 20%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 36%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }

    #urso6 {
        width: 20%;
        height: 20%;
        object-fit: contain;
        position: absolute;
        top: 60%;
        left: 80%;
        transform: translate(-50%, -50%);
        z-index: 4;
        transition: top 1s ease-in-out, left 1s ease-in-out;
    }
}
